.passport-card {
  flex: 0 0 auto;
  width: 200px;
  height: fit-content;
  background: #f3efe7;
  border-radius: 10px;
  border: 2px solid transparent;
  font-family: sans-serif;
  color: #1a2333;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.passport-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(255, 255, 255, 0.43)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.passport-card:hover {
  transform: scale(1.04);
}

.passport-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.passport-card.selected {
  border: 2px solid #00ffe5;
  transform: scale(1.04);
}

.passport-header {
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.12em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(20, 60, 100, 0.08);
}

.passport-body {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 0.5rem;
  padding: 8px;
  font-size: 12px;
}

.passport-photo {
  width: 80px;
  height: 90px;
  border-radius: 6px;
  overflow: hidden;
  padding: 5px;
  background-color: #e1e1e1;
}

.passport-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.passport-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.passport-name {
  font-weight: bold;
}
