.seat-container {
  display: grid;
  grid-template-columns: repeat(3, 60px) 40px repeat(3, 60px);
  grid-template-rows: repeat(4, 60px);
  gap: 10px;
  justify-content: center;
  background: #f3efe7;
  padding: 2rem;
  border-radius: 10px;
}

.seat img {
  width: 100%;
  cursor: pointer;
}

.seat:nth-child(4),
.seat:nth-child(10),
.seat:nth-child(16),
.seat:nth-child(22) {
  grid-column: 5;
}
