@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+20&family=Rubik+Bubbles&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #2a579b;
  background: linear-gradient(
    180deg,
    rgba(42, 87, 155, 1) 0%,
    rgba(85, 138, 194, 1) 50%,
    rgba(214, 243, 255, 1) 100%
  );
  background-repeat: no-repeat;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
}

h1 {
  color: white;
  font-family: "Rubik Bubbles", system-ui;
  font-size: 4rem;
  text-transform: uppercase;
}

.main-grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}

.character-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.passport-card {
  width: 200px;
  height: fit-content;
  background: #f3efe7;
  border-radius: 10px;
  border: 2px solid transparent;
  font-family: sans-serif;
  color: #1a2333;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.passport-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(255, 255, 255, 0.43)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.passport-card:hover {
  transform: scale(1.04);
}

.passport-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.passport-card.selected {
  border: 2px solid #00ffe5;

  transform: scale(1.01);
}

.passport-header {
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.12em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(20, 60, 100, 0.08);
}

.passport-body {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 0.5rem;
  padding: 8px;
  font-size: 12px;
}

.passport-photo {
  width: 80px;
  height: 90px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.passport-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.passport-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.passport-name {
  font-weight: bold;
}
